@using HotelManagement.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*
    Custom component
*@
<link rel="stylesheet" href="~/css/vertical-layout-light/custom_component.css" />
@*
    Jquery and BS js
*@
<script src="~/js/jquery-1.12.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
@*
    Date picker
*@
<link rel="stylesheet" href="~/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css" />
<script src="~/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js" defer></script>
@*
    Font awesome
*@
<link rel="stylesheet" href="~/vendors/font-awesome/css/font-awesome.min.css" />
@*
    Toasts
*@
<script src="~/js/jquery.toast.min.js"></script>
<link href="~/css/vertical-layout-light/jquery.toast.min.css" rel="stylesheet" />
<script src="~/js/toastDemo.js"></script>
@*
    date picker from and to (da rang buoc ngay dat > 1 ngay so voi ngay hien tai va ngay to > ngay from)
*@
@**
    custom jquery
*@
<script src="~/js/my_lib.js"></script>
@*
    font awesome
*@

<script type="text/javascript">
    $(document).ready(function () {
        if ('@ViewBag.message' == "create_booking_success") {
            console.log("create_booking_success");
            createBookingSuccessToast();
        }
        if ('@ViewBag.message' == "create_receiption_success") {
            console.log("create_receiption_success");
            createReceiptionSuccessToast();
        }
        if ('@ViewBag.message' == "login_success") {
            console.log("login_success");
            loginSuccessToast();
        }
        if ('@ViewBag.message' == "change_password_success") {
            console.log("change_password_success");
            changePasswordSuccessToast();
        }
    });
</script>

<link rel="stylesheet" href="~/vendors/font-awesome/css/font-awesome.min.css">
<div class="row-fluid">
    <div class="col-xl-12 col-md-12">
        <div class="row d-flex mt-4 flex-wrap overflow-auto">
            <div class="col-md-2 mb-3">
                <button class="btn btn-primary btn-block" data-bs-toggle="modal" data-bs-target="#filter_date_booking"><i class="fa fa-calendar"></i>  Chọn ngày đặt</button>
            </div>
            <div class="col-md-2 mb-3">
                <button class="btn btn-primary btn-block" id="show_ds_dat_phong" data-bs-toggle="modal" data-bs-target="#list_don_dat_phong"><i class="fa fa-list"></i>  Chờ nhận phòng</button>
            </div>
            <div class="col-md-2 mb-3">
                <a class="btn btn-outline-info btn-block" asp-controller="room" asp-action="filter_room_by_check_in"><i class="ti-filter"></i>  Khách đang ở</a>
            </div>
            <div class="col-md-2 mb-3">
                <a asp-controller="room" asp-action="index" class="btn btn-outline-info btn-block"><i class="fa fa-refresh"></i> Tìm tất cả</a>
            </div>
        </div>
        @*
            So do phong cua khach san
        *@
        <div style="margin-top:20px;" class="row justify-content-start">
            <div class="col-xl-12 col-md-12 ">
                @{
                    @foreach (var t in ((IEnumerable<Tang>)ViewBag.tangs).OrderBy(i => i.Tang1))
                    {
                        <div class="row d-flex flex-wrap mb-3">
                            <div class="col-md-2 col-sm-4 mb-2">
                                <div class="drop-down">
                                    <div class="floor custom_floor dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="floor@(t.Tang1)">Tầng @(t.Tang1)</div>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuSizeButton1" style="margin: 0px;">
                                        <a class="dropdown-item floor-number" href="#" data-bs-toggle="modal" id="@(t.Tang1)" data-bs-target="#create_room">Tạo phòng</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item floor-number" href="#" data-bs-toggle="modal" id="@(t.Tang1)" data-bs-target="#confirm_delete_floor">Xoá tầng</a>
                                    </div>
                                </div>
                            </div>
                            @foreach (var p in ((IEnumerable<Phong>)t.Phongs).OrderBy(i => i.PhongSo))
                            {
                                <div class="col-lg-2 col-md-2 col-sm-4 mb-3">
                                    <div class="dropdown">
                                        @* xoa 'room' trong id *@
                                        <div class="room custom_room_available dropdown-toggle" data-value="@p.TinhTrang" id="@(p.PhongSo)" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @p.PhongSo
                                            <!-- Room type show -->
                                            <div class="roomType">@p.MaLpNavigation.KhongGian</div>
                                            <!-- If checked in then show stay time info -->

                                        </div>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuSizeButton1" style="margin: 0px;">
                                            <h6 class="dropdown-header">Cài đặt</h6>

                                            <a class="dropdown-item" id="@(p.PhongSo)" data-id="dat_phong" href="#">Tạo đặt phòng</a>
                                            @* Checkin theo danh sach dat phong truoc *@
                                            <a class="dropdown-item" id="@(p.PhongSo)" data-id="ds_don_dat" href="#" data-bs-toggle="modal" data-bs-target="#list_don_dat_phong">Các đơn đặt</a>
                                            <a class="dropdown-item" id="@(p.PhongSo)" data-id="nhan_phong" href="#">Nhận phòng</a>
                                            <a class="dropdown-item" id="@(p.PhongSo)" data-id="tra_phong" href="#">Trả phòng</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" id="@(p.PhongSo)" data-id="xoa_phong" href="#" data-bs-toggle="modal" data-bs-target="#confirm_delete_room">Xoá phòng</a>
                                            <a class="dropdown-item" id="@(p.PhongSo)" data-id="cap_nhat_phong" href="#" data-bs-toggle="modal" data-bs-target="#update_room">Xem phòng</a>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    }
                }
            </div>
        </div>
        @*
            Add more floor
        *@
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-outline-dark btn-block" data-bs-toggle="modal" data-bs-target="#create_floor">Thêm tầng</button>
            </div>
        </div>
    </div>
</div>
@*
    Modal for filter date booking
*@
<div class="modal fade" id="filter_date_booking" tabindex="-1" aria-labelledby="ModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Chọn ngày đặt phòng</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="get" asp-controller="room" asp-action="filter_room_by_date">
                <div class="modal-body">
                    <div class="card-body">
                        <p class="card-description">Định dạng tìm kiếm sẽ theo mẫu: ngày/tháng/năm</p>
                        <div class="input-group input-daterange d-flex align-items-center">
                            <input type="text" class="form-control datepicker_from" name="start_date" id="start_date_filter" value="dd/MM/yyyy">
                            <div class="input-group-addon mx-4">tới</div>
                            <input type="text" class="form-control datepicker_to" name="end_date" id="end_date_filter" value="dd/MM/yyyy">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Tìm phòng trống</button>
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                </div>
            </form>
        </div>
    </div>
</div>
@*
    Hien thi danh sach cac don dat va thuc hien nhan phong
*@
<div style="max-height:900px;" class="modal fade" id="list_don_dat_phong" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row-fluid overflow-auto">
                    <div class="row">
                        <div class="col-md-12" style="margin-bottom:20px;">
                            <h3>Danh sách đơn đặt phòng:</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table" id="danh_sach_don_dat">
                                    <thead>
                                        <tr>
                                            <th>Mã đơn đặt</th>
                                            <th>Khách đặt</th>
                                            <th>Trạng thái</th>
                                            <th>Tổng tiền</th>
                                            <th>Đã cọc</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mt-4" style="margin-bottom:20px;">
                            <h3>Danh sách đơn đặt phòng chi tiết:</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Tìm theo mã đơn đặt:</label>
                                <div class="col-sm-3">
                                    <input type="text" id="tim_theo_madondat" class="form-control">
                                </div>
                                <label class="col-sm-2 col-form-label">Ngày check in:</label>
                                <div class="col-sm-3">
                                    <input type="text" id="tim_theo_checkin" placeholder="dd/MM/yyyy" class="form-control datepicker">
                                </div>
                                <div class="col-sm-2">
                                    <button id="tim_tat_ca_ctdp" class="btn btn-outline-info btn-block">Tìm tất cả <i class="fa fa-refresh"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table" id="cac_don_dat_phong">
                                    <thead>
                                        <tr>
                                            <th>Chuyển phòng</th>
                                            <th>Mã đơn đặt</th>
                                            <th>Khách đặt</th>
                                            <th>Check in</th>
                                            <th>Check out</th>
                                            <th>Phòng số</th>
                                            <th>Loại phòng</th>
                                            <th>Trạng thái</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="nhan_phong_tu_danh_sach_dat">Nhận phòng</button>
                <button type="button" onclick="location.href='@Url.Action("index", "room")'" class="btn btn-light" data-bs-dismiss="modal">Hoàn thành nhận phòng</button>
            </div>
        </div>
    </div>
</div>
@*
    Modal for create floor
*@
<div class="modal fade" id="create_floor" tabindex="-1" aria-labelledby="ModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Thêm tầng</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="post" asp-controller="floor" asp-action="create">
                <div class="modal-body">
                    <div class="card-body">
                        <div class="row-fluid">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Mã tầng: </label>
                                    <div class="col-md-9">
                                        <input type="text" name="id" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Tầng thứ: </label>
                                    <div class="col-md-9">
                                        <input type="text" name="floor" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Tạo thêm tầng</button>
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                </div>
            </form>
        </div>
    </div>
</div>
@*
    Modal for create room
*@
<div class="modal fade" id="create_room" tabindex="-1" aria-labelledby="ModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Thêm phòng</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="post" asp-controller="room" asp-action="create">
                <div class="modal-body">
                    <div class="card-body">
                        <div class="row-fluid">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Mã phòng: </label>
                                    <div class="col-md-9">
                                        <input type="text" name="room_id" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Phòng số: </label>
                                    <div class="col-md-9">
                                        <input type="text" name="room_number" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Tầng thứ: </label>
                                    <label class="col-md-9 col-form-label" id="floor_number"></label>
                                    <input type="hidden" name="floor_number" id="floor_number_id" />
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Loại: </label>
                                    <div class="col-md-9">
                                        <select class="form-control" name="room_type_id">
                                            <option value="0" selected="selected">Chọn loại phòng</option>
                                            @{
                                                foreach (var loaiPhong in ViewBag.loaiPhongs)
                                                {
                                                    <option value="@loaiPhong.Malp">@loaiPhong.LoaiPhong1 - @loaiPhong.KhongGian</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Tình trạng: </label>
                                    <div class="col-md-9">
                                        <input type="text" name="room_status" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Tạo thêm phòng</button>
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                </div>
            </form>
        </div>
    </div>
</div>

@*
    Modal for confirm room delete
*@
<div class="modal fade" id="confirm_delete_room" tabindex="-1" aria-labelledby="ModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Xác nhận xoá phòng</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="post" asp-controller="room" asp-action="delete">
                <div class="row-fluid">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-md-12 col-form-label ml-2">Bạn có chắc chắn muốn xoá đi phòng: <span style="color:red" id="delete_room"></span></label>
                            <input type="hidden" name="room_id" id="delete_room_id" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Xoá phòng</button>
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Huỷ</button>
                </div>
            </form>
        </div>
    </div>
</div>

@*
    Modal for update room
*@
<div class="modal fade" id="update_room" tabindex="-1" aria-labelledby="ModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Cập nhật phòng</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="post" asp-controller="room" asp-action="update">
                <div class="modal-body">
                    <div class="card-body">
                        <div class="row-fluid">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Mã phòng: </label>
                                    <div class="col-md-9">
                                        <input type="text" id="room_id_update" name="room_id" readonly class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Phòng số: </label>
                                    <div class="col-md-9">
                                        <input type="text" id="room_number_update" name="room_number" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Tầng thứ: </label>
                                    <div class="col-md-9">
                                        <select class="form-control" id="floor_number_update" name="floor_number">
                                            @{
                                                foreach (var tang in ViewBag.tangs)
                                                {
                                                    <option value="@tang.Matang">@tang.Tang1</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Loại: </label>
                                    <div class="col-md-9">
                                        <select class="form-control" id="room_type_id_update" name="room_type_id">
                                            @{
                                                foreach (var loaiPhong in ViewBag.loaiPhongs)
                                                {
                                                    <option value="@loaiPhong.Malp">@loaiPhong.LoaiPhong1 - @loaiPhong.KhongGian</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Tình trạng: </label>
                                    <div class="col-md-9">
                                        <input type="text" id="room_status_update" name="room_status" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Cập nhật</button>
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                </div>
            </form>
        </div>
    </div>
</div>
@*
    Modal for confirm floor delete
*@
<div class="modal fade" id="confirm_delete_floor" tabindex="-1" aria-labelledby="ModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Xác nhận xoá tầng</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="post" asp-controller="floor" asp-action="delete">
                <div class="row-fluid">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-md-7 col-form-label ml-2">Bạn có chắc chắn muốn xoá đi tầng: </label>
                            <label class="col-md-2 col-form-label" id="delete_floor" style="color:red"></label>
                            <input type="hidden" name="floor_id" id="delete_floor_id" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Xoá tầng</button>
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Huỷ</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Check da filter ngay dat sau do gan ngay dat vao booking form  -->

@if (ViewBag.ngayDat != null)
{
    <input type="hidden" value="@ViewBag.ngayDat" id="ngay_dat_phong_filter" />
    <script type="text/javascript">$(document).ready(function () {
            let ngay_dat = $('#ngay_dat_phong_filter').val();
            console.log(ngay_dat);
            const ngayDat = ngay_dat.split(" - ");
            $('#ngay_vao').val(ngayDat[0]);
            $('#ngay_roi').val(ngayDat[1]);
        });</script>
}

@*
    Modal for create booking
*@
<div class="modal fade" id="create_booking_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Tạo đặt phòng</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="post" asp-controller="booking" asp-action="create">
                <div class="modal-body">
                    <div class="row-fluid">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home-1" role="tab" aria-controls="home-1" aria-selected="true">1. Nhập thông tin đăng ký <i class="fa fa-info-circle text-info"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile-1" role="tab" aria-controls="profile-1" aria-selected="false">2. Nhập thông tin khách hàng <i class="fa fa-user-circle-o text-info"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="col-md-12">
                            <div class="tab-content">
                                <div class="tab-pane fade active show" id="home-1" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label">Tổng tiền</label>
                                                        <div class="col-sm-10">
                                                            <input readonly="true" type="text" class="form-control" id="tong_tien_dp" placeholder=".00 $">
                                                            <input type="hidden" value="" name="tong_tien" id="tong_tien" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label">Ngày vào</label>
                                                        <div class="col-sm-4">
                                                            <input readonly="true" type="text" name="ngay_vao" id="ngay_vao" class="form-control datepicker_from" placeholder="dd/MM/yyyy">
                                                        </div>
                                                        <label class="col-sm-2 col-form-label">Vào lúc</label>
                                                        <div class="col-sm-4">
                                                            <input readonly="true" type="text" name="vao_luc" id="vao_luc" class="form-control" placeholder="00:00">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label">Ngày rời</label>
                                                        <div class="col-sm-4">
                                                            <input readonly="true" type="text" name="ngay_roi" id="ngay_roi" readonly class="form-control datepicker_to" placeholder="dd/MM/yyyy">
                                                        </div>
                                                        <label class="col-sm-2 col-form-label">Rời lúc</label>
                                                        <div class="col-sm-4">
                                                            <input readonly="true" type="text" name="roi_luc" id="roi_luc" class="form-control" placeholder="00:00">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label">Tiền cọc</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" name="tien_coc" id="tien_coc" class="form-control" placeholder=".00 $">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label">Phòng số</label>
                                                        <div class="col-sm-10">
                                                            <input readonly="true" type="text" name="phong_so" id="phong_so" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label">Ghi chú</label>
                                                        <div class="col-sm-10">
                                                            <textarea name="ghi_chu" id="ghi_chu" class="form-control" rows="4"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="profile-1" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label">
                                                            Số căn cước
                                                        </label>
                                                        <div class="col-sm-10">
                                                            <input type="number" maxlength="12" id="so_can_cuoc" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label">Họ và tên</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" id="ho_ten" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label">Ngày sinh</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" id="ngay_sinh" class="form-control datepicker" placeholder="dd/MM/yyyy" style="padding-left:20px;">
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label">Email</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" id="email_khach" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Số điện thoại</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" id="sdt" class="form-control" placeholder="+84">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label">Giới tính</label>
                                                        <div class="col-sm-5">
                                                            <div class="form-check">
                                                                <label class="form-check-label">
                                                                    <input type="radio" class="form-check-input" name="gioi_tinh" id="gioiTinhNam" value="nam" checked="">
                                                                    Nam
                                                                    <i class="input-helper"></i>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-5">
                                                            <div class="form-check">
                                                                <label class="form-check-label">
                                                                    <input type="radio" class="form-check-input" name="gioi_tinh" id="gioiTinhNu" value="nu">
                                                                    Nữ
                                                                    <i class="input-helper"></i>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label">
                                                            Quốc gia
                                                        </label>
                                                        <div class="col-sm-10">
                                                            <input type="text" id="quoc_gia" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label"></label>
                                                        <div class="col-sm-10">

                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label"></label>
                                                        <div class="col-sm-10">
                                                            <div class="form-group row">
                                                                <div class="col-sm-5">
                                                                    <button type="button" class="form-control btn btn-dark" id="them_khach_o">Thêm</button>
                                                                </div>
                                                                <div class="col-sm-5">
                                                                    <button type="button" class="form-control btn btn-light" id="lam_moi_khach_o" l>Làm mới</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="table-responsive">
                                                        <table class="table" id="ds_khach_o">
                                                            <thead>
                                                                <tr>
                                                                    <th>Số căn cước</th>
                                                                    <th>Khách hàng</th>
                                                                    <th>Email</th>
                                                                    <th>Ngày sinh</th>
                                                                    <th>Số điện thoại</th>
                                                                    <th>Giới tính</th>
                                                                    <th>Quốc gia</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <!-- danh sach khach o -->
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row d-flex justify-content-end">
                                                <div class="col-md-2 mt-5">
                                                    <button class="btn btn-primary form-control" type="submit">Đặt phòng</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

@*
    Modal hien thi nhan phong
*@
<div class="modal fade" id="create_check_in" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row-fluid overflow-auto">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Nhận phòng</h4>
                                <p class="card-description">Thông tin đăng ký bao gồm các thông tin về phòng, các loại dịch vụ và thông tin khách hàng chính thực hiện đăng ký</p>
                                <div class="mt-4">
                                    <div class="accordion accordion-solid-header" id="accordion-4" role="tablist">
                                        @* Cai dat thong tin loai phong *@
                                        <div class="card">
                                            <div class="card-header" role="tab" id="heading-10">
                                                <h6 class="mb-0">
                                                    <a data-bs-toggle="collapse" href="#collapse-10" aria-expanded="true" aria-controls="collapse-10" class="">
                                                        Thông tin phòng đăng ký: <span id="loai_phong_dang_ky"></span>
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapse-10" class="collapse show" role="tabpanel" aria-labelledby="heading-10" data-parent="#accordion-4" style="">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-sm-2 col-form-label">Tổng tiền</label>
                                                                        <div class="col-sm-10">
                                                                            <input readonly="true" type="text" name="tong_tien_checkin" id="tong_tien_checkin" class="form-control" placeholder=".00 $">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label class="col-sm-2 col-form-label">Ngày vào</label>
                                                                        <div class="col-sm-4">
                                                                            <input readonly="true" type="text" name="ngay_vao_checkin" id="ngay_vao_checkin" class="form-control datepicker_from" placeholder="dd/MM/yyyy">
                                                                        </div>
                                                                        <label class="col-sm-2 col-form-label">Vào lúc</label>
                                                                        <div class="col-sm-4">
                                                                            <input readonly="true" type="text" name="vao_luc_checkin" id="vao_luc_checkin" class="form-control" placeholder="00:00">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label class="col-sm-2 col-form-label">Ngày rời</label>
                                                                        <div class="col-sm-4">
                                                                            <input readonly="true" type="text" name="ngay_roi_checkin" id="ngay_roi_checkin" readonly class="form-control datepicker_to" placeholder="dd/MM/yyyy">
                                                                        </div>
                                                                        <label class="col-sm-2 col-form-label">Rời lúc</label>
                                                                        <div class="col-sm-4">
                                                                            <input readonly="true" type="text" name="roi_luc_checkin" id="roi_luc_checkin" class="form-control" placeholder="00:00">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group row">
                                                                        <label class="col-sm-2 col-form-label">Tiền cọc</label>
                                                                        <div class="col-sm-10">
                                                                            <input type="text" name="tien_coc_checkin" id="tien_coc_checkin" class="form-control" placeholder=".00 $">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label class="col-sm-2 col-form-label">Phòng số</label>
                                                                        <div class="col-sm-10">
                                                                            <input readonly="true" type="text" name="phong_so_checkin" id="phong_so_checkin" class="form-control">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label class="col-sm-2 col-form-label">Ghi chú</label>
                                                                        <div class="col-sm-10">
                                                                            <textarea name="ghi_chu_checkin" id="ghi_chu_checkin" class="form-control" rows="4"></textarea>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @* Them dich vu cho ctdp *@
                                        <div class="card">
                                            <div class="card-header" role="tab" id="heading-11">
                                                <h6 class="mb-0">
                                                    <a class="collapsed" data-bs-toggle="collapse" href="#collapse-11" aria-expanded="false" aria-controls="collapse-11">
                                                        Thêm dịch vụ:
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapse-11" class="collapse" role="tabpanel" aria-labelledby="heading-11" data-parent="#accordion-4">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group row">
                                                                <label class="col-md-1 col-form-label">Dịch vụ: </label>
                                                                <div class="col-md-2">
                                                                    <select class="form-control" id="ten_dichvu" name="room_type_id">
                                                                        <option value="0" selected="selected">Chọn dịch vụ</option>
                                                                        @{
                                                                            foreach (var dichVu in ViewBag.dichVus)
                                                                            {
                                                                                <option value="@dichVu.Madv">@dichVu.TenDv</option>
                                                                            }
                                                                        }
                                                                    </select>
                                                                </div>
                                                                <div class="col-sm-2">
                                                                    <input type="number" min="1" id="so_luong_dichvu" class="form-control" placeholder="Số lượng">
                                                                </div>
                                                                <div class="col-sm-1">
                                                                    <button id="them_phieu_dich_vu" class="form-control badge rounded-pill bg-primary"><i class="fa fa-plus text-white"></i></button>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <div class="col-md-12">
                                                                    <div class="table-responsive">
                                                                        <table class="table" id="dich_vu_su_dung">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>Dịch vụ</th>
                                                                                    <th>Đơn giá</th>
                                                                                    <th>Số lượng</th>
                                                                                    <th>Thành tiền</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody></tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @* Thong tin khach hang dat truoc *@
                                        <div class="card">
                                            <div class="card-header" role="tab" id="heading-12">
                                                <h6 class="mb-0">
                                                    <a class="collapse" data-bs-toggle="collapse" href="#collapse-12" aria-expanded="true" aria-controls="collapse-12">
                                                        Thông tin khách hàng đặt trước:
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapse-12" class="collapse show" role="tabpanel" aria-labelledby="heading-12" data-parent="#accordion-4">
                                                <fieldset disabled="disabled">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label">
                                                                        Số căn cước
                                                                    </label>
                                                                    <div class="col-sm-10">
                                                                        <input type="text" id="so_can_cuoc_check_in" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label">Họ và tên</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="text" id="ho_ten_check_in" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label">Ngày sinh</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="text" id="ngay_sinh_check_in" class="form-control datepicker" placeholder="dd/MM/yyyy" style="padding-left:20px;">
                                                                    </div>
                                                                </div>

                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label">Email</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="text" id="email_khach_check_in" class="form-control">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="col-sm-3 col-form-label">Số điện thoại</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" id="sdt_check_in" class="form-control" placeholder="+84">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label">Giới tính</label>
                                                                    <div class="col-sm-5">
                                                                        <div class="form-check">
                                                                            <label class="form-check-label">
                                                                                <input type="radio" class="form-check-input" name="gioi_tinh" id="gioiTinhNam" value="nam" checked="">
                                                                                Nam
                                                                                <i class="input-helper"></i>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-5">
                                                                        <div class="form-check">
                                                                            <label class="form-check-label">
                                                                                <input type="radio" class="form-check-input" name="gioi_tinh" id="gioiTinhNu" value="nu">
                                                                                Nữ
                                                                                <i class="input-helper"></i>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label">
                                                                        Quốc gia
                                                                    </label>
                                                                    <div class="col-sm-10">
                                                                        <input type="text" id="quoc_gia_check_in" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label"></label>
                                                                    <div class="col-sm-10">

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="ma_ctdp_checkin" />
                <button type="button" class="btn btn-primary" id="check_in_for_customer" data-bs-dismiss="modal">Nhận phòng cho khách</button>
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Huỷ</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for create check out -->

<div class="modal fade" id="creat_checkout" tabindex="-1" aria-labelledby="ModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" style="margin-right:700px;" role="document">
        <div class="modal-content" style="min-width: 700px; background-image: url('https://media.istockphoto.com/id/1146367620/vector/abstract-white-background.jpg?s=612x612&w=0&k=20&c=v6spf6OW1BS6KaM4Lz3BEfYK8_o5hUHF_4NvcpBpn6w='); background-size:cover;">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Hoá đơn phòng: <span id="phongSo_hoadon" style="font-size:24px; font-weight:700; color:#333;"></span></h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="post" asp-controller="receiption" asp-action="create">
                <div class="modal-body" style="max-height:600px;">
                        <div class="row-fluid overflow-auto">
                            <div class="col-md-12">
                                <div class="row">
                                    <label class="col-sm-12">Khách hàng: <span id="tenKh_hoadon" style="font-weight:700"></span></label>
                                </div>
                                <div class="row">
                                    <label class="col-sm-12">Mã đơn đặt: <span id="maDonDat_hoadon" style="font-weight: 700; color:red;"></span></label>
                                </div>
                                <div class="row">
                                    <label class="col-sm-6">Vào lúc: <span id="gioVao_hoadon" style="font-weight: 700"></span>:00h  <i class="fa fa-calendar"></i> <span id="ngayVao_hoadon" style="font-weight: 700"></span></label>
                                    <label class="col-sm-6">Trả lúc: <span id="gioRoi_hoadon" style="font-weight: 700"></span>:00h  <i class="fa fa-calendar"></i> <span id="ngayRoi_hoadon" style="font-weight: 700"></span></label>
                                </div>
                                <hr />
                                <div class="row">
                                    <label class="col-sm-6"><span style="color:red">*</span> Tiền phòng: <span id="tienPhong_hoadon" style="font-weight:700"></span></label>
                                    <label class="col-sm-6">Tính theo: <span id="tinhTheo_hoadon" style="font-weight: 700"></span></label>
                                </div>
                                <div class="row">
                                    <label class="col-sm-12"><span style="color:red">*</span> Đã cọc: <span id="tienCoc_hoadon" style="font-weight:700"></span></label>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6"><p><span style="color:red">*</span> Thông tin phụ thu nếu có: </p></div>
                                    <div class="col-sm-6">Tổng phụ thu: <span id="phuThu_hoadon" style="font-weight:700"></span></div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-12"><span class="text-danger" style="font-size:14px;" id="lyDoPhuThu_hoadon"></span></label>
                                </div>
                                <div class="row">
                                    <label class="col-sm-12"><span class="text-danger" style="font-size:14px;" id="lyDoPhuThuThemNguoi_hoadon"></span></label>
                                </div>
                                <div class="row">
                                    <label class="col-sm-12"><span style="color:red">*</span> Tổng tiền các dịch vụ sử dụng: <span id="tienDichVu_hoadon" style="font-weight:700"></span></label>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table" id="dich_vu_su_dung_hoadon">
                                                <thead>
                                                    <tr>
                                                        <th>Dịch vụ</th>
                                                        <th>Đơn giá</th>
                                                        <th>Số lượng</th>
                                                        <th>Thành tiền</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <label class="col-sm-12"><span style="color:red; font-size:28px;">*</span> Thanh toán: <span id="thanhToan_hoadon" style="font-weight: 700; font-size: 22px;">420.000 VND</span></label>
                                        </div>
                                        <div class="row">
                                            <p><span style="color:red">*</span> Ghi chú:</p>
                                            <textarea class="col-md-12" name="ghi_chu_hoadon" cols="20" rows="6"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="trang_thai_hoadon" id="dathanhtoan" value="Đã thanh toán" checked="">
                                                Đã thanh toán
                                                <i class="input-helper"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="trang_thai_hoadon" id="ghicongno" value="Ghi công nợ">
                                                Ghi công nợ
                                                <i class="input-helper"></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">

                    <input type="hidden" id="ma_don_dat_hoadon" name="ma_don_dat_hoadon" value="" />
                    <input type="hidden" id="tong_tien_hoadon" name="tong_tien_hoadon" value="" />
                    <input type="hidden" id="phu_thu_hoadon" name="phu_thu_hoadon" value="" />
                    <input type="hidden" id="phong_so_hoadon" name="phong_so_hoadon" value="" />
                    <input type="hidden" id="ma_ctdp_hoadon" name="ma_ctdp_hoadon" value="" />
                    <input type="hidden" id="gio_ra_hoadon" name="gio_ra_hoadon" value="" />

                    <button type="submit" class="btn btn-success">Lập hoá đơn / Trả phòng</button>
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                </div>
            </form>
        </div>
    </div>
</div>