@using HotelManagement.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*
    Jquery and BS js
*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
@*
    Date picker
*@
<link rel="stylesheet" href="~/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css" />
<script src="~/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js" defer></script>
@*
    Font awesome
*@
<link rel="stylesheet" href="~/vendors/font-awesome/css/font-awesome.min.css" />
@*
    custom jquery
*@
<script src="~/js/my_lib.js"></script>
@*
    font awesome
*@
<link rel="stylesheet" href="~/vendors/font-awesome/css/font-awesome.min.css">
@*
    Toasts
*@
<script src="~/js/jquery.toast.min.js"></script>
<link href="~/css/vertical-layout-light/jquery.toast.min.css" rel="stylesheet" />
<script src="~/js/toastDemo.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        if ('@ViewBag.message' == "update_service_success") {
            console.log("update_service_success");
            updateServiceSuccessToast();
        }

        if ('@ViewBag.message' == "create_service_success") {
            console.log("create_service_success");
            createServiceSuccessToast();
        }

        if ('@ViewBag.message' == "delete_service_success") {
            console.log("delete_service_success");
            deleteServiceSuccessToast();
        }

        if ('@ViewBag.message' == "delete_service_fail") {
            console.log("delete_service_success");
            deleteServiceSuccessToast();
        }
    });
</script>
<div class="row-fluid">
    <div class="col-xl-12 col-md-12">
        <div class="row d-flex flex-wrap mt-4 justify-content-end">
            <div class="col-md-2 mb-3">
                <button class="btn btn-outline-info btn-block">Làm mới <i class="fa fa-refresh"></i></button>
            </div>
            <div class="col-md-2 mb-3">
                <button class="btn btn-primary btn-block" data-bs-toggle="modal" data-bs-target="#create_service">Thêm dịch vụ</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Tên dịch vụ</th>
                                <th>Đơn giá</th>
                                <th>Đơn vị</th>
                                <th>Trạng thái</th>
                                <th>Ngày tạo</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var dv in ViewBag.dichVu)
                            {
                                <tr>
                                    <td>@dv.TenDv</td>
                                    <td>@dv.DonGia</td>
                                    <td>@dv.TinhTheo</td>
                                    <td>@dv.TrangThai</td>
                                    <td>
                                        @dv.NgayTao.ToString("dd/MM/yyyy")
                                    </td>
                                    
                                    <td class="dich_vu_action">
                                        <a id="@dv.Madv" data-bs-toggle="modal" data-bs-target="#update_service"><i class="fa fa-edit text-info"></i></a>
                                        <br />
                                        <a id="@dv.Madv" data-bs-toggle="modal" data-bs-target="#confirm_delete_service" ><i class="fa fa-remove text-danger"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@*
    modal for create service
*@
<div class="modal fade" id="create_service" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <form method="post" asp-controller="service" asp-action="create">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row-fluid overflow-auto">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Nhập thông tin dịch vụ</h4>
                                    <div class="mt-4">
                                        <div class="accordion accordion-solid-header" id="accordion-4" role="tablist">
                                            @* Cai dat thong tin loai phong *@
                                            <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label">Tên dịch vụ</label>
                                                                    <div class="col-sm-4">
                                                                        <input type="text" name="ten_dich_vu" class="form-control">
                                                                    </div>

                                                                    <label class="col-sm-2 col-form-label">Đơn giá</label>
                                                                    <div class="col-sm-4">
                                                                        <input type="text" name="don_gia" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label">Đơn vị</label>
                                                                    <div class="col-sm-4">
                                                                        <input type="text" name="don_vi" class="form-control">
                                                                    </div>

                                                                    <label class="col-sm-2 col-form-label">Trạng thái</label>
                                                                    <div class="col-sm-4">
                                                                        <input type="text" name="trang_thai" class="form-control">
                                                                    </div>
                                                                </div>
                                                               
                                                            </div>
                                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="service" data-bs-dismiss="modal">Thêm dịch vụ</button>
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Hủy</button>
                </div>
            </div>
        </form>

    </div>
</div>

@*
    modal for edit service type
*@
<div class="modal fade" id="update_service" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <form method="post" asp-controller="service" asp-action="update">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row-fluid overflow-auto">
                        <div class="col-md-12">
                            <div class="card">  
                                <div class="card-body">
                                    <h4 class="card-title">Cập nhật dịch vụ </h4>
                                    <div class="mt-4">
                                        <div class="accordion accordion-solid-header" id="accordion-4" role="tablist">
                                            @* Cai dat thong tin loai phong *@
                                            <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label">Tên dịch vụ</label>
                                                                    <div class="col-sm-4">
                                                                        <input type="text" name="ten_dich_vu" id="ten_dich_vu_update" class="form-control">
                                                                    </div>

                                                                    <label class="col-sm-2 col-form-label">Đơn giá</label>
                                                                    <div class="col-sm-4">
                                                                        <input type="text" name="don_gia" id="don_gia_update" class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label">Đơn vị</label>
                                                                    <div class="col-sm-4">
                                                                        <input type="text" name="don_vi" id="tinh_theo_update" class="form-control">
                                                                    </div>

                                                                    <label class="col-sm-2 col-form-label">Trạng thái</label>
                                                                    <div class="col-sm-4">
                                                                        <input type="text" name="trang_thai" id="trang_thai_update" class="form-control">
                                                                    </div>
                                                                </div>
                                                               
                                                            </div>
                                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="update_service_id" name="service_id" />
                    <button type="submit" class="btn btn-primary" id="create_booking" data-bs-dismiss="modal">Cập nhật dịch vụ</button>
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Hủy</button>
                </div>
            </div>
        </form>
    </div>
</div>

@*
    Modal for confirm service delete
*@
<div class="modal fade" id="confirm_delete_service" tabindex="-1" aria-labelledby="ModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Xác nhận xoá dịch vụ</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="post" asp-controller="service" asp-action="delete">
                <div class="row-fluid">
                    <div class="col-md-12">
                        <div class="form-group row">
                                <label class="col-md-12 col-form-label ml-2">Bạn có chắc chắn muốn xoá dịch vụ: <span id="delete_service" style="color:red"></span> </label>
                            <input type="hidden" name="ma_dv" id="delete_service_id" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Xoá dịch vụ</button>
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Huỷ</button>
                </div>
            </form>
        </div>
    </div>
</div>